@media only screen
and (min-width : 320px)
and (max-width : 480px) {

.user-list {
    justify-content: center;   
}
    
}

.nav-bar {
    display: flex;
    background-color: dodgerblue;
    align-items: center;
    align-content: center;
    color: white;
    padding: 1rem;
}

.tabs-row {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: sans-serif;
}

.title-secondary {
    font-size: 2rem;
    font-weight: 300;
}

.tab-selected {
    font-weight: 700;
}
.create-form{
    border: 1px solid black;
    margin: auto 25%;
    padding: 1rem;

}
.form-row{
    margin :1rem;
}

.form-button-row {
    display: flex;
    justify-content: center;
}
.button-primary{
    background-color: dodgerblue;
    color:white;
}
.button-secondary{
   
    background-color: lightgrey;
}
.dropdown,input{
    margin-left: 1rem;
    width : 75%
}

.user-tile {
    border: 1px solid black;
    border-radius: 4px;
    padding: 2rem;

    width: 200px;
    height: 100px;
    margin: 1rem;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
    
}