.nav-bar {
    display: flex;
    background-color: dodgerblue;
    align-items: center;
    align-content: center;
    color: white;
    padding: 1rem;
}

.tabs-row {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: sans-serif;
}

.title-secondary {
    font-size: 2rem;
    font-weight: 300;
}

.tab-selected {
    font-weight: 700;
}
.create-form{
    border: 1px solid black;
    margin: auto 25%;
    padding: 1rem;

}
.form-row{
    margin :1rem;
}

.form-button-row {
    display: flex;
    justify-content: center;
}
.button-primary{
    background-color: dodgerblue;
    color:white;
}
.button-secondary{
   
    background-color: lightgrey;
}
.dropdown,input{
    margin-left: 1rem;
    width : 75%
}
